<!-- Room -->
<div class="tab-pane" id="{{room}}">
    <div class="row-fluid">
        <div class="span12 well">
            <div id="room_messages" style="min-height:220px; max-height:220px; overflow:auto;">
                <span class="label label-info">ServerBot</span>&nbsp;&nbsp;Welcome to the room :)<br/>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <h3>Now chatting...</h3>
        </div>
    </div>
    <div class="row-fluid">
        <div id="room_users" class="span12">
            <span class="badge badge-inverse">ServerBot</span>
        </div>
    </div>
</div>
<!-- End Room -->
